resources/schemas/ElonTweetsXmlSchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="ElonMuskTweets" type="item"/>

    <xs:complexType name="item">
        <xs:sequence>
            <xs:element name="tweetContent">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="280"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="date" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
